.resources {
  background-color: #fff;
  color: #fff;
}

.resources.black {
  background-color: #000;
}

.resources.black h2,
.resources.black h5,
.resources.black p {
  color: #fff;
}

.resources.black .btnHire {
  color: #fff;
  border: 1px solid #fff;
}

.resources.black .btnHire:hover {
  background-color: #fff;
  color: #000;
}

.hireUs {
  position: relative;
  text-align: center;
  padding: 50px 0;
}

.hireUs:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  margin: 0 auto;

  background-repeat: no-repeat;
  background-position: bottom;
  height: 405px;
  width: 100%;
  z-index: -1;
  opacity: 0.9;
}

.btnHire {
  background-color: transparent;
  width: 30%;
  height: 50px;
  display: block;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #000;
  font-family: "Montserrat";
  list-style: none;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid #000;
  margin: 0 auto;
  transition: background-color 2s;
}

.btnHire:hover {
  color: #fff;
  background-color: #000;
  transition: background-color 2s;
}

.team .slideBox {
  border: 1px solid #fff;
  border-right: 0;
  height: 150px;
  width: 237px;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.team .slideBox img {
  filter: invert(1);
}

.team .slideBox p {
  letter-spacing: 1px;
}

/* =================Media Queries=================== */

@media screen and (max-width: 991px) {
  .btnHire {
    width: 45%;
  }
}

@media screen and (max-width: 767px) {
  .team .slideBox {
    border: none;
    border-right: 0;
    height: 120px;
    width: 235px;
    margin-bottom: 70px;
  }

  .team .slideBox:hover {
    box-shadow: rgb(149 157 165 / 20%) 0 8px 24px;
  }

  .team .slideBox p {
    font-size: 8px;
    line-height: 16px;
    margin: 0;
  }

  .btnHire {
    padding: 15px 11px;
    font-size: 10px;
  }
}


@media screen and (max-width: 480px) {

  .btnHire {
    width: 100%;
}

.resources{
  padding-left: 20px;
  padding-right: 20px;
}
.hireUs p{
  text-align: justify!important;
}

 }