.newbanner {
  padding: 100px 0 100px;
  display: flex;
  align-items: center;
  position: relative;
}

.andriod {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/images/newbanner/andriod.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ios {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/images/newbanner/ios.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.flutter {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/images/newbanner/flutter.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.mobile {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/images/newbanner/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.react {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/images/newbanner/react.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wearable {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/images/newbanner/wareable.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cross {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/images/newbanner/cross.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.web {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/images/newbanner/web.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.game2d {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/images/newbanner/2d.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.game3d {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/images/newbanner/3d.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nft {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/images/newbanner/nft.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.blockchain {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/images/newbanner/blockchain.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.game {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/images/newbanner/game.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bttnsto {
  display: flex;
  align-items: center;
  gap: 20px;
}

.bttns1 {
  width: 198px;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "Montserrat";
  list-style: none;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  transition: 1s ease-in-out;
  border: 2px solid #f32f5e;
}

.bttns2 {
  width: 198px;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
  justify-content: center;
  font-family: "Montserrat";
  list-style: none;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #000;
  transition: background-color 1s;
  background: linear-gradient(0.25turn, #f32f53, #f32fc2, #4a78ef);
}

.bttns2:hover {
  transition: background-color 1s;
  color: #fff;
}

.bttns1:hover {
  transition: background-color 1s;
  color: #fff;
}

/* =============================== */

.banerTxt h1 {
  font-size: 65px;
  line-height: 75px;
}

.banerTxt p {
  width: 100%;
  font-size: 20px;
  line-height: 30px;
}

.bannerform {
  background: linear-gradient(0.5turn, #7560bd, #f32fc2, #f32f53);
  margin-left: auto;
  position: relative;
  z-index: 1;
  border-radius: 20px;
  border: 5px solid #ee9acf;
  box-shadow: rgba(199, 0, 0, 0.35) 0px 5px 15px;
  width: 80%;
}

.discuss {
  justify-content: space-between;
  height: 75px;
  align-items: center;
  padding-left: 35px;
  padding-right: 30px;
}

.alignment p,
.califonia p {
  font-size: 18px;
}

.bannnerproject {
  justify-content: space-between;
}

.discuss a {
  text-decoration: none;
}

.make {
  padding-top: 29px;
}

.free {
  text-align: center;
}


.hatStyling {
  position: absolute;
  right: -16%;
  max-height: 130px;
  max-width: 139px;
  top: -14%;
  transform: rotate(14deg);
}

.pumpkinStyling {
  position: absolute;
  left: 66%;
  bottom: 140px;
  max-width: 200px;
  max-height: 200px;
  transform: translateX(-61%) rotate(45deg);
  z-index: 3;
}

.spider {
  position: absolute;
  max-width: 120px;
  max-height: 150px;
  top: 64px;
  left: 58%;
  z-index: 0;
  transform: rotate(9deg);
  filter: drop-shadow(2px 4px 6px #c1c);
}

.formsbanner .forminput {
  background-color: #f4b6ff;
  border: unset;
  height: 45px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 2%;
  padding-left: 4%;
  color: #000;
  font-family: "Montserrat", sans-serif;
}

.formsbanner .forminput::placeholder {
  color: #707070;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
}

.formsbanner .forminput:focus-visible {
  outline: none;
}

.formsbanner .formarea:focus-visible {
  outline: none;
}

.formsbanner .formarea::placeholder {
  color: #707070;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
}

.formsbanner .formarea {
  background-color: #f4b6ff;
  border: unset;
  height: 100px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 4%;
  padding-left: 4%;
  padding-top: 4%;
  color: black;
  font-family: "Montserrat", sans-serif;
  resize: none;
}

.formsbanner {
  max-width: 85%;
  margin: 0 auto;
}

.notice {
  background-color: #000;
  width: 40%;
  height: 40px;
  display: block;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "Montserrat";
  list-style: none;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  border: unset;
}

.take {
  display: flex;
  justify-content: space-between;
}

.read {
  padding: 20px 0;
  background-color: #000;
  margin-top: 20px;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: relative;
}

.read::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 5px;
  background: linear-gradient(45deg, #f32f5e, #4a78ef);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  left: -4px;
  right: -4px;
  bottom: -4px;
}

.locations {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.locInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 8px;
}

.locImg {
  text-align: center;
  width: 40px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  padding: 0;
  margin-bottom: 0;
}

.list li {
  width: 100%;
  margin-bottom: 0;
}

.list li img {
  filter: invert(0);
  margin-right: 10px;
}

.revImg {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1920px) {
  .hatStyling {
    right: -14%;
  }
}

@media screen and (max-width: 1600px) {
  .bannerform {
    width: 90%;
  }
}

@media screen and (max-width: 1440px) {
  .bannerform {
    width: 100%;
  }

  .banerTxt h1 {
    font-size: 45px;
    line-height: 55px;
  }

  .banerTxt p {
    width: 80%;
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 991px) {
  .bannerform {
    width: 90%;
    margin: 40px auto 0;
  }

  .banerTxt h1 {
    font-size: 40px;
    line-height: 50px;
  }

  .banerTxt p {
    width: 100%;
  }
}


@media screen and (max-width: 767px) {
  .newbanner {
    padding: 100px 0 100px;
  }

  .bannerform {
    width: 98%;
  }

  .banerTxt h1 {
    font-size: 30px;
    line-height: 40px;
  }
}


@media screen and (max-width: 480px) {

  .free {
    max-width: 300px;
    margin: 0 auto;
  }

  .banerTxt p {
    text-align: justify;
  }

  .newbanner {
    padding: 50px 0 50px;
    padding-left: 20px;
    padding-right: 20px;

  }
}